


<form class="card col-sm-5 form-group" #CustomerLoginForm="ngForm" (ngSubmit)="checkLogin(CustomerLoginForm.value)">
    <h5 class="card-title text-center">LOGIN AS ADMIN</h5>

<label for="name">Admin ID:</label>
<input type="text" id="adminID" name="adminID" class="form-control" required ngModel><br>

<label for="dob">Password:</label>
<input type="password" id="password" name="password" class="form-control" required ngModel><br>

<div class="btn-group col-md-12" id="buttons">
    <button  type="submit" class="btn btn-success col-sm-3" id="btn">Login</button><button type="reset" class="btn btn-danger col-sm-3" id="btn">Cancel</button>
    </div>

</form>