
<form   class="col-md-10 card text-white"  #balance="ngForm"   (ngSubmit)="addTransaction(balance.value)" id="delete"  >
    <div class="form-group">
      <label id="delLab">Account Number:</label>
      <input type="number" id="deleteInp" class="form-control col-sm-8" name="accountNumber"  ngModel required>
    </div>
    <div class="form-group">
        <label id="delLab">Account Holder Name:</label>
        <input type="text" id="deleteInp" class="form-control col-sm-8" name="accountHolderName"  ngModel required>
      </div>
    <div class="from-group">
      <label  id="delLab">Amount:</label>
      <input type="text" id="deleteInp" name="amount" class="form-control col-sm-8" ngModel required>
    </div><br>
    
   
    
<label class="col-md-12 marg form-group">Transaction Type:</label>
<select name="transactionType" id="serviceType" class="col-sm-5 account mandatory form-control" ngModel required>
  <option value="no" disabled>-----select-----</option>
  <option value="Credit">Credit</option>
  <option value="Debit">Debit</option>
</select><br>
      
    
  
    

    <button type="submit" class="btn btn-success col-sm-3" id="delbtn">Send</button>
</form>
    
    










<!-- <form   class="col-md-10 card text-white"  #depositform="ngForm"   (ngSubmit)="deposit(depositform.value)" id="delete"  >
  <div class="form-group">
    <label id="delLab">Account Number:</label>
    <input type="number" id="deleteInp" class="form-control col-sm-8" name="accountNumber"  ngModel required>
  </div>
  <div class="form-group">
      <label id="delLab">Account Holder Name:</label>
      <input type="text" id="deleteInp" class="form-control col-sm-8" name="accountHolderName"  ngModel required>
    </div>
  <div class="from-group">
    <label  id="delLab">Amount:</label>
    <input type="text" id="deleteInp" name="amount" class="form-control col-sm-8" ngModel required>
  </div><br>
  <div class="from-group">
    <input type="hidden" id="deleteInp" name="transactionType" class="form-control col-sm-8" [(ngModel)]="Credit" required>
  </div><br>
  

  <button type="submit" class="btn btn-success col-sm-3" id="delbtn">Deposit</button>
</form>

<form   class="col-md-10 card text-white"  #withdrawform="ngForm"   (ngSubmit)="withdraw(withdrawform.value)" id="delete"  >
  <div class="form-group">
    <label id="delLab">Account Number:</label>
    <input type="number" id="deleteInp" class="form-control col-sm-8" name="accountNumber"  ngModel required>
  </div>
  <div class="form-group">
      <label id="delLab">Account Holder Name:</label>
      <input type="text" id="deleteInp" class="form-control col-sm-8" name="accountHolderName"  ngModel required>
    </div>
  <div class="from-group">
    <label  id="delLab">Amount:</label>
    <input type="text" id="deleteInp" name="amount" class="form-control col-sm-8" ngModel required>
  </div><br>
  <div class="from-group">
    <input type="hidden" id="deleteInp" name="transactionType" class="form-control col-sm-8" [(ngModel)]="Debit" required>
  </div><br>
  

  <button type="submit" class="btn btn-success col-sm-3" id="delbtn">Send</button>
</form>

<div class="tab">
  <table class="table col-md-6" style="background-color: rgba(0, 0, 0, 0.719); color: white;">
  
    <tr> 
    <th>Service Provider ID</th>
    <th>Service Provider Name</th>
    <th>Service Type</th>
  </tr>
  
    <tr *ngFor="let provider of transactionList">
  
            <td>{{provider.accountNumber}}</td>
            <td>{{provider.accountHolderName}}</td>
            <td>{{provider.accountBalance}}</td>
  
    </tr>
  
  
  </table>
  </div> -->