


<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img src="../assets/bank_logo.png" alt="" width="9%"> DXC Bank
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
  
          
       
          
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isCustomerLoggedIn()"   routerLink="/balance">Check Balance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isCustomerLoggedIn()"   routerLink="/statement">View Statement</a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isCustomerLoggedIn()"   routerLink="/withdraw">Withdraw Money</a>
          </li-->
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isCustomerLoggedIn()"   routerLink="/kyc">KYC Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isCustomerLoggedIn()"   routerLink="/moneyTransfer">Money Transfer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isCustomerLoggedIn()"  routerLink="/utility">Utility Bill Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isCustomerLoggedIn()"  routerLink="/benificiary">Benificiary Account</a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isCustomerLoggedIn()"  routerLink="/updateAccount">Update Benificiery Account</a>
          </li-->
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isAdminLoggedIn()"   routerLink="/admin_statement">View Statement</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isAdminLoggedIn()"    routerLink="/service">Service Provider</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isAdminLoggedIn()"   routerLink="/adminAccount">Add New Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="!(loginservice.isCustomerLoggedIn()||loginservice.isAdminLoggedIn())"   routerLink="/login_customer">Login as Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   *ngIf="!(loginservice.isCustomerLoggedIn()||loginservice.isAdminLoggedIn())"  routerLink="/login_admin">Login as Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   *ngIf="!(loginservice.isCustomerLoggedIn()||loginservice.isAdminLoggedIn())"  routerLink="/register">Register New Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isCustomerLoggedIn()||loginservice.isAdminLoggedIn()"   routerLink="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="lft">
    <img src="../assets/ad.jpg" width="100%">
  </div>
 
  
<div class="main">
    <router-outlet></router-outlet>
</div>

  
    <div class="rgt">
     <img src="../assets/ad2.jpg" width="100%">
     <img src="../assets/adside.jpg" width="100%">
    </div>

    <footer      class="footer">
            <nav class="navbar  navbar-dark bg-dark static-top column" style="color:darkgrey;" >2020, DXC Bank, Chennai, India Copyright 
              <a href="">Customer Care</a>
              <a href="">Help</a>
              <a href="">Privacy Policy</a>
              <a href="">www.dxc.bank.com</a>
              <a href="">dxcbank@gmail.com</a>
            </nav>

            
      
      </footer>

          
      



  